* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    line-height: auto;
}

#page {
    box-sizing: border-box;
    padding: 80px;
    width: 1280px;
    margin: auto;
}

header {
    font-family: "Orbitron", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #1F7C9B;
    margin-bottom: 40px;
}

main {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

img {
    border-radius: 28px;
}

h1 {
    font-size: 36px;
    font-weight: 600;
}

h2 {
    font-size: 32px;
    font-weight: 600;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
}

#introduction, #content {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#description {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

#description img + p {
    font-size: 16px;
    color: black;
    font-weight: normal;
    font-style: italic;
    text-align: center;
}

#content .card-travel {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#content .card-travel-link {
    display: flex;
    gap: 8px;
    align-items: center;
}

.card-travel-link img {
    width: 18px;
}

p {
    color: #1F7C9B;
    font-weight: bold;
}

h1 + p, h2 + p, #content .card-travel p {
    color: black;
    font-size: 18px;
    font-weight: normal;
}

.card-travel + .card-travel {
    margin-top: 48px;
}

footer {
    text-align: center;
    margin-top: 48px;
}
