* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    line-height: auto;
}

#page {
    box-sizing: border-box;
    padding: 80px;
    width: 1280px;
    margin: auto;
}
