* {
    margin: 0;
    padding: 0;
}

:root {
    font-family: "Open Sans", sans-serif;
    text-align: justify;
    line-height: auto;
}

#page {
    box-sizing: border-box;
    padding: 80px;
    width: 1280px;
    margin: auto;
}

header {
    font-family: "Orbitron", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #1F7C9B;
    margin-bottom: 40px;
}
